/* Styles for Web Design Lab Portfolio Project
 *
 * It's a good idea to keep a comment up here at the top of the file with useful
 * information for anyone trying to read the file: notes, hints, etc. One very valuable
 * piece of information is who to talk to about this file if you have questions! Hence:
 *
 * Author: (your name here)
*/

/* This is a CSS Comment; note the comment syntax is different from what we use to mark up comments in HTML! */

/* Page styles after this comment */
@import url('https://fonts.googleapis.com/css?family=Karla|Lato');
head
{
    font-family: 'Karla', sans-serif;
font-family: 'Lato', sans-serif;
}
h1, h2, h3
{
    font-family: 'Karla', sans-serif;
}
p, ul
{
    font-family: 'Lato', serif;
}

ul > ul > li
{
    color:darkorange;
}

h3 + p
{
    font-style: italic;
}

img
{
    height:100px;
    float:left;
    
        
}

header h1
{
    font-size:32pt;
    
}

header img
{
    margin-right:40px;
}
nav
{
    background-color:orange;
    padding: 20px 10px;
    border-width: 10px;
    border-color: gray;
    border-style: solid none;
    margin: 10px auto;
    text-align: center
}

nav span
{
    padding: 20px
}

main img
{
    margin-right: 50px;
}

footer
{
    background-color:orange;
    padding: 20px 10px;
    border-width: 5px;
    border-color:gray;
    border-style: solid none none none;
    margin: 40px;
}

main + footer + p
{
    color:orange;
}

main h1
{font-size: 32pt;
}