/* Styles for Web Design Lab Portfolio Project
 *
 * It's a good idea to keep a comment up here at the top of the file with useful
 * information for anyone trying to read the file: notes, hints, etc. One very valuable
 * piece of information is who to talk to about this file if you have questions! Hence:
 *
 * Author: (your name here)
*/

/* This is a CSS Comment; note the comment syntax is different from what we use to mark up comments in HTML! */

/* Page styles after this comment */
@import url('https://fonts.googleapis.com/css?family=Karla|Lato');
head
{
    font-family: 'Karla', sans-serif;
font-family: 'Lato', sans-serif;
}
h1, h2, h3
{
    font-family: 'Karla', sans-serif;
}
p, ul
{
    font-family: 'Lato', serif;
}

ul > ul > li
{
    color:coral;
}

h3 + p
{
    font-style: italic;
}

img
{
    height:100px;
    float:left;
    
        
}

header
{
    overflow:auto;
}

header h1
{
    font-size:32pt;
    
}

header img
{
    margin-right:40px;
}
nav
{
    background-color:coral;
    border-width: 3px;
    border-color: gray;
    border-style: solid none;
    margin: 10px auto;
    text-align: center
}

nav span
{
    
    display: block;
}

nav a{
    display: block;
    padding: 20px;
    color: white;
    
}

nav a:hover {
    background-color: #FFAE91;
}

main img
{
    margin-right: 50px;
}

footer
{
    background-color:coral;
    padding: 20px 10px;
    border-width: 5px;
    border-color:gray;
    border-style: solid none none none;
    margin: 40px;
}

main + footer + p
{
    color:orange;
}

main h1
{font-size: 32pt;
}

h2
{
    clear:both;
}
.contact_icon
{
    float:right;
    height:200px;
    
}

/*Positioning*/

.p_fixed
{
    position:fixed;
    top: 8px;
    left:8px;
    
}

.p_absolute
{
    position:relative;
}



.p_absolute img 
{
    position:absolute;
    top:-15px;
    left:-2px;
    height: 50px;
    
    
}


.p_absolute h3
{
    margin-left: 50px
}

.p_absolute:hover img
{background-color: coral;
}

 /*FLEX*/

/*News and Press*/

.news_content {
    display: flex;
    flex-direction: row;
}

.el1 {
    flex: 1;
}

.el2 {
    flex: 5;
}

.el3 {
    flex: 1;
}

/*Menubar*/

.menubar {
    display: flex;
    flex-direction: row;
    font-family: 'Lato', serif;
}

.menu_item {
    flex: 1;
    
}

.item_emphasis {
    background-color: grey;
}